.title-container{
    position: relative;
    width: 200px;
    height: fit-content;
    background: #000080;
    color: #fff;
    left: 50%;
    font-family: sans-serif;
    display: flex;
    justify-content:center;
    font-size: 22px;
}

.container-info{
    position: relative;
    background: lightgray;
    color: #000080;
    font-family: sans-serif;
    border-radius: 1rem;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.container-button{
    position: absolute;
    background: lightgray;
    color: #000080;
    border-radius: 1rem;
    margin-top: 20px;
    right: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.button{
    position: relative;
    background: #000080;
    color: #fff;
    border-radius: 2rem;
    font-family: sans-serif;
}

.button:hover{
    background: #ffc107;
    color: #000080;
}

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

.tree {
  padding: 20px 0;
}

.tree::after {
  content: '';
  display: block;
  clear: left;
}

.tree div {
  clear: left;
}

input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

label, a {
  display: block;
  float: left;
  clear: left;
  position: relative;
  margin-left: 25px;
  padding: 5px;
  border-radius: 5px;
  color: #5c5d5e;
  text-decoration: none;
  cursor: pointer;
}

label::before, a::before {
  display: block;
  position: absolute;
  top: 6px;
  left: -25px;
  font-family: 'FontAwesome';
}

label::before {
  content: '\f07b'; /* closed folder */
}

input:checked + label::before {
  content: '\f07c'; /* open folder */
}

a::before {
  content: '\f068'; /* dash */
}

input:focus + label, a:focus {
  outline: none;
  background-color: #b9c3c9;
}

.sub {
  display: none;
  float: left;
  margin-left: 30px;
}

input:checked ~ .sub {
  display: block;
}

input[type="reset"] {
  display: block;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #e8ebed;
  background-color: #6b7c87;
  font-family: inherit;
  font-size: .9em;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="reset"]:focus {
  outline: none;
  box-shadow: 0 0 0 4px #b9c3c9;
}

#exerciceAdded{
  height: auto;
  width: auto;
  background-color: #8EFB99;  
  color : #333333;
}