
/*Content General*/
#content{
  height: auto;
  overflow-y: auto;
}
/*---------------------------------------------MainCSS-----------------------------------------------------------*/
.title-box{
    text-align: center;
    font-family: sans-serif;
    margin: 25px auto 50px;
    color: #000080;
}

.title-box h1{
    font-weight:600;
}

.title-box p{
    margin-top: 10px;
    line-height: 24px;
    color: #555;
}

.quiz-box{
    width: 260px;
    height: 260px;
    background:         #F5F5F5;
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 0 10px 10px 10px rgba(115, 193, 255, 0.1);
    padding: 20px;
    position: relative;
    transition: .5s;
}

.quiz-box img{
    width:75px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 4px;
    transition: .5s;
}

.quiz-box h4{
    margin-top: 25px;
    margin-bottom: 5px;
    color:#000080;
}

small{
    color:#555;
}

.title-quiz-box{
    background: #000080;
    margin: 60px auto 20px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
}


.quiz-box p{
    text-align: center;
    line-height: 24px;
    color: #555;
}

.quiz-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0px auto 100px;
}

.quiz-box:hover
{
    background: #000080;
}

.quiz-box:hover h4
{
    color: #fff;
}

.quiz-box:hover p
{
    color: #efefef;
}

.quiz-box:hover small
{
    color: #efefef;
}

.quiz-box:hover .title-quiz-box
{
    background: #fff;
}

.quiz-box:hover .title-quiz-box p1
{
    color: #000080;
}

/*----------------------------------------------FinMainCSS---------------------------------------------------------*/

/*----------------------------------------------styleHeaderCSS---------------------------------------------------------*/
/*----------------------------------------------FinStyleHeaderCSS---------------------------------------------------------*/

/*----------------------------------------------StyleFooterCSS---------------------------------------------------------*/

ul,
li {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  color: white;
}

footer {
  background-color: #000080;
  /* min-height: 350px; */
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
.footer-col {
  margin-top: 20px;
}
.logofooter {
  margin-bottom: 10px;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}

.footer-col p {
  color: #fff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
}
.footer-col p i {
  width: 20px;
  color: rgb(248, 245, 245);
}

.footer-ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 2px;
}
.footer-ul li {
  line-height: 29px;
  font-size: 12px;
}
.footer-ul li a {
  color: #a0a3a4;
  transition: color 0.2s linear 0s, 0.2s linear 0s;
}
.footer-ul i {
  margin-right: 10px;
}
.footer-ul li a:hover {
  transition: color 0.2s linear 0s, 0.2s linear 0s;
  color: #ff670f;
}

.heading7 {
  font-size: 21px;
  font-weight: 700;
  color: #d9d6d6;
  margin-bottom: 22px;
}
.post p {
  font-size: 12px;
  color: #fff;
  line-height: 20px;
}
.post p span {
  display: block;
  color: #8f8f8f;
}
.bottom_ul {
  list-style-type: none;
  float: right;
  margin-bottom: 0;
}
.bottom_ul li {
  float: left;
  line-height: 40px;
}
.bottom_ul li:after {
  content: "/";
  color: #fff;
  margin-right: 8px;
  margin-left: 8px;
}
.bottom_ul li a {
  color: #fff;
  font-size: 12px;
}

.footer-social li {
  float: left;
  color: white;
}


li {
  color: white;
}

.email-links a {
  color: white !important;
}
/*----------------------------------------------FinStyleFooterCSS---------------------------------------------------------*/

/*----------------------------------------------StyleLoginCSS---------------------------------------------------------*/
.loginbox{
    width: 320px;
    height: 380px;
    background: lightgray;
    color: #000080;
    margin-top: 300px;
    left:50%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 5%;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.loginbox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #000080;
    background: transparent;
    outline: none;
    height: 40px;
    color: gray;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #000080;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}
#badLogMessage{
  height: auto;
  width: auto;
  font-weight: bold;
  color : #fc0000;
  text-align: center;
}
/*----------------------------------------------FinStyleLoginCSS---------------------------------------------------------*/

/*----------------------------------------------StyleExcerciceCSS---------------------------------------------------------*/
.title h1{
    font-family:sans-serif;
    color: #000080;
    font-weight:600;
    text-align: center;
    font-size: 32px;
    margin: 25px auto 50px;
    
}
.result{

    position: absolute;
    
}

.contextbox{
    position: relative;
    background: lightgray;
    height: auto;
    border-radius: 5px;
    color: #000080;
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.contextbox img{
    position: relative;
    width: 100px;
    top: 12px;
    left: 80%;

}

.questionbox{
    position: relative;
    background: lightgray;
    height: auto;
    border-radius: 5px;
    color: #000080;
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.questionbox button{
    background: #000080;
    border: none;
    color: #fff;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 2rem;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    left: 10px;
}

.questionbox button:hover{
    background: #ffc107;
    color: #000080;
}



.questionbox input[type="text"]{
    background: #fff;
    outline-color: #ffc107;
    width: 90%;
    color: #000080;
    font-size: 16px;
    left: 10px;
    position: relative;
    height: 25px;
    border-radius: 5px;
}

#bouton-question-exercice{
  display: flex;
  margin:20px;
}
#backupMessage{
  height: auto;
  width: auto;
  margin : 1rem;
  background-color: #FFFCBB;
  color : #008000;
}
/*----------------------------------------------FinStyleExcerciceCSS---------------------------------------------------------*/
/*----------------------------------------------DebutGérerExerciceCSS---------------------------------------------------------*/

#exerciceAdded{
  height: auto;
  width: auto;
  background-color: #8EFB99;  
  color : #333333;
}

/*----------------------------------------------FinGérerExcerciceCSS---------------------------------------------------------*/
/*----------------------------------------------DashboardCSS-----------------------------------------------------------------*/
#chartContainer1{
  position: relative;
  height: 300px; 
  width: 40%; 
  float:left;
  margin: 20px;
}

#chartContainer2{
  height: 300px; 
  width: 50%; 
  float:left;
  margin: 20px;
}

.containers{
  display: flex;
  position: relative;
}

#statistic-container{
  height: 400px; 
  width: 90%; 
  float:left;
  margin: 40px;
}

#statistic-container h4{
  font-family:sans-serif;
  font-weight: bold;
}

.my-custom-scrollbar1 {
overflow: auto;
}

#statistic-container1{
  height: 400px; 
  width: 50%; 
  float:left;
  margin: 40px;
}

#statistic-container3{
  height: 400px; 
  width: 50%; 
  float:left;
  margin: 40px;
}
.my-custom-scrollbar2 {
overflow: auto;
}

/*----------------------------------------------AdminDashboardCSS-----------------------------------------------------------------*/
.title-container{
  position: relative;  
  word-wrap: break-word;
  width: 90%;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 70px;
  background: gray;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  font-size: 2rem;
}

.container-info{
  position: relative;
  background: lightgray;
  color: #000080;
  font-family: sans-serif;
  border-radius: 1rem;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.container-button{
  position: relative;
  background: lightgray;
  color: #000080;
  font-family: sans-serif;
  border-radius: 1rem;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.button{
  position: relative;
  background: #000080;
  color: #fff;
  border-radius: 2rem;
  font-family: sans-serif;
}

.button:hover{
  background: #ffc107;
  color: #000080;
}

.manageEquipesForm{
  border-radius: 25px;
}

.studentListFile{
  border-radius: 25px;

}


.fileToUpload{
  background-color:black;
  color : white;
  border-radius: 25px;

}

.setExerciseSelect{ 
  border-radius: 25px;
  background-color:lightgrey;
}

.deleteTeam{
  background-color: #000080;
  color : white;
  border-radius: 25px;
}

.textarea{  
  padding:10px;
  width:60%;
  font-size:14px;
  margin: auto;
  display: auto;
  border-radius:5px;
  border:3px solid #556677;
}

.table-exercice {
 border:3px solid #556677;
 border-color:darkgray;
 width:50%;
 justify-content: center;
 text-align: center;
 }

.titre-colonne-table {  
  background-color: #000080;
  color: white;
  border-width:1px;
  border-style:solid; 
  border-color:black;
}
 
.data-colonne-table {  
 background-color: white;
 border-width:1px;
 border-style:solid; 
 border-color:black;
 }

/*----------------------------------------------FinAdminDashboardCSS-----------------------------------------------------------------*/
