.title-container{
    position: relative;
    width: 200px;
    height: fit-content;
    background: #000080;
    color: #fff;
    left: 50%;
    font-family: sans-serif;
    display: flex;
    justify-content:center;
    font-size: 22px;
}

.container-info{
    position: relative;
    background: lightgray;
    color: #000080;
    font-family: sans-serif;
    border-radius: 1rem;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.container-button{
    position: absolute;
    background: lightgray;
    color: #000080;
    border-radius: 1rem;
    margin-top: 20px;
    right: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.button{
    position: relative;
    background: #000080;
    color: #fff;
    border-radius: 2rem;
    font-family: sans-serif;
}

.button:hover{
    background: #ffc107;
    color: #000080;
}