h1 {
  color: #31968e;
  display: flex;
  justify-content: center;
}

.header {
  background-color: gree;
}

ul {
  display: flex;
  justify-content: center;
}
#menu,
#menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
#menu li {
  display: inline-block;
  position: relative;
  border-radius: 8px 8px 0 0;
}
#menu ul li {
  display: inherit;
  border-radius: 0;
}
#menu ul li:hover {
  border-radius: 0;
}
#menu ul li:last-child {
  border-radius: 0 0 8px 8px;
}
#menu ul {
  position: absolute;
  z-index: 1000;
  max-height: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -moz-transition: 0.8s all 0.3s;
  -webkit-transition: 0.8s all 0.3s;
  transition: 0.8s all 0.3s;
}
#menu li:hover ul {
  max-height: 15em; /*  em is used for responsive size */
}
/* background des liens menus
  #menu li:first-child{
    background-color: #65537A;
    background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
    background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
  }
  #menu li:nth-child(2){
    background-color: #729EBF;
    background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
  }
  #menu li:nth-child(3){
    background-color: #F6AD1A;
    background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
    background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
  }
  #menu li:last-child{
    background-color: #CFFF6A;
    background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
    background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
  } */

/* les a href */
#menu a {
  text-decoration: none;
  display: block;
  padding: 8px 32px;
  color: #fff;
  font-family: arial;
}
#menu ul a {
  padding: 8px 0;
}
#menu li:hover li a {
  color: #fff;
  text-transform: inherit;
}
#menu li:hover a,
#menu li li:hover a {
  color: #000;
}
/* 
.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

h6 {
  float: right;
}
button {
  background-color: #f44336;
} */
